CompileFlags:
  Add:
    - -I../third_party/glew-2.1.0/include
    - -I../third_party/glfw-3.4/include

    - -IC:/Program Files/Microsoft Visual Studio/18/Insiders/VC/Tools/MSVC/14.50.35503/include

    # Windows SDK headers (adjust version if different)
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt

    # Language standard (change to c++17 if you prefer)
    - -std=c++26

